include _includes/sharedHTMLfunctions

extends layout

block content
      #detalle.container-fluid
      .text-center
        h2= cabecera.titulo 
        h4= cabecera.subtitulo
      .row(ng-controller="apiIneCtrl")
        .col-sm-6
          .panel.panel-default.text-center
            .panel-heading
              h1= imagen.cabecera
            .panel-body
              p
                strong= imagen.descripcion.linea1
              p
                strong= imagen.descripcion.linea2
              form.form-horizontal(action="#{url}", method="post", role="form")
                - if (error == "val")
                  .alert.alert-danger(role="alert") Se requieren todos los campos, inténtalo de nuevo
                .form-group            
                  label.col-xs-10.col-sm-6.control-label(for="control1") Comunidad
                  .col-xs-12.col-sm-5
                    select.form-control.input-sm(name="control1")
                      option(value='') 
                      option(ng-repeat="comunidad in comunidades" value='{{comunidad.Id}}') {{comunidad.Nombre}}

                .form-group            
                  label.col-xs-10.col-sm-6.control-label(for="control2") Sexo
                  .col-xs-12.col-sm-3
                    select.form-control.input-sm(name="control2")
                      option(value='') Todos
                      option(ng-repeat="sexo in sexos" value='{{sexo.Id}}') {{sexo.Nombre}}
                      
                .form-group            
                  label.col-xs-10.col-sm-6.control-label(for="periodos") Número de años
                  .col-xs-12.col-sm-3
                    input(type='range', min='5', max='15', step='1', value= '5', name='periodos' oninput="document.getElementById('periodo').innerHTML = this.value")
                    label#periodo 5
                    
                button.btn.btn-lg.pull-right Enviar a INE
            
            hr(width="100%")
            h3 Opiniones    
            each recomendacion in recomendaciones
                  strong=recomendacion.autor
                    |&nbsp;
                    |&nbsp;
                    +formatDate(recomendacion.creado)
                  p=recomendacion.comentario
                    |&nbsp;
                    |&nbsp;
                  p
                    +escribirPuntuacion(recomendacion.puntuacion)
            .panel-footer
              h3= imagen.pie
              p Media:
                |&nbsp;
                +escribirPuntuacion(imagen.puntuacion)
              
              a.btn.btn-lg(href="/rest_api/#{rest_api}/recomendacion/nueva") Valorar
        
        .col-sm-6
          .panel.panel-default.text-center
            .panel-heading
              h1= formulario.cabecera 
            .panel-body
              div
                img.center-block(src=formulario.descripcion.linea1, alt='', width='400', height='300')
              p
                strong= formulario.descripcion.linea2
            .panel-footer
              h3= formulario.pie
              
              a.btn.btn-lg(href="/") Volver
