include _includes/sharedHTMLfunctions

extends layout

block content
      #detalle.container-fluid
      
      .row
        .col-sm-12
          .panel.panel-default.text-center
            .panel-heading
              h1=cabecera.titulo
                span , Rover:
                |&nbsp;
                span=resultado.photos[0].rover.name
            .panel-body
              p
                strong 

              #carrusel.carousel.slide(data-ride='carousel')
                
                // Indicadores
                ol.carousel-indicators
                  li.active(data-target='#carrusel', data-slide-to='0')
                  li(data-target='#carrusel', data-slide-to='prev')
                  li(data-target='#carrusel', data-slide-to='next')
                
                // Contenedor para diapositivas
                .carousel-inner(role='listbox')
                  .item.active
                    img.center-block(src="/images/CARGANDO.jpg", alt='', width='700', height='400')
                    .carousel-caption
                      h3 
                      p 
                  each foto in resultado.photos 
                    .item
                      div.center-block(style='width:700px;height:400px;')
                        img(src="#{foto.img_src}", alt='', width='100%', height='100%')
                      .carousel-caption
                        span Día Terrestre
                          |&nbsp;
                        span=foto.earth_date
                        p=foto.camera.full_name
                        
                  // Controles derecha e izquierda
                  a.left.carousel-control(href='#carrusel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previo
                  a.right.carousel-control(href='#carrusel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Previo

              p
            .panel-footer
              a.button.btn.btn-lg(href="/rest_api/#{rest_apiid}") Volver

